In [35]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
from sklearn.preprocessing import StandardScaler
import torch

In [36]:
'''全局参数'''
r_train = 0.9

In [37]:
'''1. 读取数据，选择需要的列'''
data = pd.read_csv('XSHG300.csv', index_col=0)  # , parse_dates=True
data = data[['open', 'close', 'high', 'low', 'volume', 'money']]
data

               open    close     high      low        volume         money
2005-04-08   984.66  1003.45  1003.70   979.53  1.476253e+09  9.151350e+09
2005-04-11  1003.88   995.42  1008.74   992.77  1.593607e+09  1.043623e+10
2005-04-12   993.71   978.70   993.71   978.20  1.022619e+09  6.479563e+09
2005-04-13   987.95  1000.90  1006.50   987.95  1.607169e+09  1.002960e+10
2005-04-14  1004.64   986.98  1006.42   985.58  1.294571e+09  7.813425e+09
...             ...      ...      ...      ...           ...           ...
2015-12-25  3832.09  3838.20  3848.03  3813.20  1.196240e+10  1.633145e+11
2015-12-28  3847.53  3727.63  3853.39  3727.63  1.539884e+10  2.100260e+11
2015-12-29  3723.05  3761.88  3762.05  3710.48  1.018856e+10  1.404051e+11
2015-12-30  3762.91  3765.18  3765.66  3726.28  1.056300e+10  1.557441e+11
2015-12-31  3760.90  3731.01  3772.62  3727.32  1.018736e+10  1.450437e+11

[2610 rows x 6 columns]

In [38]:
'''2. 划分"训练集、测试集"；归一化；构造"序列、字典" '''
data_seq = list(data.index)
data_seq = list(map(lambda x: int(x.replace('-', '')), data_seq))   # Tensor只接受数值数据
print(data_seq[:7])

[20050408, 20050411, 20050412, 20050413, 20050414, 20050415, 20050418]